.entete__contenu {
    display: flex;
    align-items: center;
}

.entete__barre-de-recherche {
    display: flex;
    margin-left: auto;
    align-items: center;
    border: solid 1px;
    border-radius: 5px;
}