.carte {
    max-width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.carte__img {
    padding: 20px;
    background-color: #EDE4E3;
    border-radius: 10px 10px 0 0;
}