.menu {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    background-color: #244a73;
}

.menu__li {
    padding: 14px 0;
}

.menu__a {
    text-decoration: none;
    padding: 14px 22px;
    transition-duration: 300ms;
    color: #fffff0;
}

.menu__a:hover {
    background-color: #122539;
    color: #ffffff;
}